{% extends 'mini_fb/base.html' %}

{% block content %}

<style> h2 {text-align: center;} </style>
<h2>{{profile.firstN}} {{profile.lastN}}</h2>

<img src="{{profile.image_url}}">

<body>

<p>
    {{profile.city}}
        <br>
    {{profile.email}}
        <br>
    <a href="{% url 'update_profile' profile.pk %}">Update This Profile</a>
</p>


<table>
    <tr>
        <td>Status Messages</td>
        <td>Time</td>
    </tr>
    {% for status in profile.get_status_message %}
    <tr>
        <td>{{status}}</td>
        <td>{{status.get_time}}</td>
    </tr>
    {% endfor %}
</table>

<form method="POST" action="{% url 'post_status' profile.pk %}">
    {% csrf_token %}
    <table>
        {% for field in create_status_form %}
        <tr>
            <td>{{field}}</td> 
        {% endfor %}
            <td>
                <input type="submit" name= 'Status Update!' value="Add Status!">
            </td>
        </tr>
        
    </table>
</form>


</body>
{% endblock %}