{% extends 'mini_fb/base.html' %}

{% block content %}

<style> h2 {text-align: center;} </style>
<h2>{{profile.firstN}} {{profile.lastN}}</h2>

<img src="{{profile.image_url}}">

<body>

<p>
    {{profile.city}}
        <br>
    {{profile.email}}
        <br>
    <a href="{% url 'update_profile' profile.pk %}">Update This Profile</a>
</p>

<p>
    <h4><a href="{% url 'news_feed' profile.pk %}">{{profile}}'s News Feed</a></h4>
</p>

<table>
    <tr>
        <th>Time</th>
        <th>Status Messages</th>
    </tr>
    {% for status in profile.get_status_message %}
    <tr>
        <td>{{status.get_time}}</td>
        <td>{{status}}</td>

        {% if status.image %}
        <td> <img src='{{status.image.url}}' style='max-width: 600;'></td>
        {% endif %}

        <td><a href="{% url 'delete_status' profile_pk=profile.pk status_pk=status.pk %}">Delete</a></td>

    </tr>
    {% endfor %}
</table>

<form method="POST" 
        action="{% url 'post_status' profile.pk %}" 
        enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <tr>
            <td>New Status: {{create_status_form.message}}</td>
            <td>Status Image (optional): {{create_status_form.image}}</td>
        </tr>
        <tr>
            <td>
                <input type="submit" name= 'Status Update!' value="Add Status!">
            </td>
        </tr>
        
    </table>
</form>

{% if profile.get_friends %}

<h3>{{profile}}'s Friends</h3>
<table>
    {% for friend in profile.get_friends %}
    <tr>
        <td>
            <img src='{{friend.image_url}}' width="200px"> 
        </td>
        <td>
            <a href="{% url 'show_profile_page' friend.pk %}"{{friend}}>
        </td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    {{profile.firstN}} doesn't have any friends.
{% endif %}

<a href ="{% url 'show_possible_friends' profile.pk %}">Add New Friends</a>

</body>
{% endblock %}