<!-- templates/home.html -->
<html>

{% extends 'quotes/base.html' %}

{% block content %}


<h1>Showing all Quotes</h1>

<!-- scriptlist code to display the calue of the variable 'all_quotes_list'
{{ all_quotes_list }} -->

<ul>
    {% for quote in all_quotes_list %}
    <li><h3>"{{quote.text}}"</h3> - <a href="{% url 'person' quote.person.pk %}"> {{quote.person}} </a> <br>
        <img src="{{quote.person.get_random_image}}" style="max-width: 400">
    </li>
    {% endfor %}
</ul>

{% endblock %}
</html>